html {
    box-sizing: border-box;
    font-family: "Sigmar One", georgia;
    line-height: 1.5;
    text-align: center;
    background-color: #fff;
  }

  *, *::before, *::after {
    box-sizing: inherit;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

body {
  margin: 0;
  background-color: #ffe500;
}

header {
  padding: .75em;
}

h1, h2 {
  color: #cc1465;
}

h2 {
  font-size: 1.875rem;
  margin: .3em
}

li {
  font-size: 1.125rem;
  background-color: #b2a212;
  border-style: none;
  display: inline;
  font-family: Georgia, serif;
  list-style-type: none;
  padding: .5em;
  margin: 0;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #fff;
  margin: .3em;
}

img {
  width: 100%;
}

li:hover {
  background-color: #cc1465;
  color: #fff;
}

p {
  font-size: 1.125rem;
  font-family: georgia;
}

footer {
  font-size: .75rem;
  font-family: georgia;
  padding: .75em;
}

.p-and-h2 {
  text-align: left;
  padding: .75em;
  background-color: #fff;
}
