html {
  box-sizing: border-box;
  font-family: "Sigmar One", georgia;
  line-height: 1.5;
  text-align: center;
  background-color: #fff;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

footer, header {
  margin: 0;
  background-color: #ffe500;
}

header {
  padding: .75em;
}

h1, h2 {
  color: #cc1465;
}

h2 {
  font-size: 1.875rem;
  margin: .3em;
}

li{
  font-size: 1.125rem;
  border-style: none;
  display: inline;
  list-style-type: none;
}

nav a {
  font-family: Georgia, serif;
  padding: .5em;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  margin: 0;
  background-color: #b2a212;
}

img {
  display: block;
  width: 100%;
}

nav a:hover {
  background-color: #cc1465;
  color: #fff;
}

p {
  font-size: 1.125rem;
  font-family: georgia;
  color: #2f2d13;
}

footer {
  font-size: .75rem;
  font-family: georgia;
  padding: .75em;
}

body section {
  text-align: left;
  padding: .75em;
  background-color: #fff;
}

nav .current {
  background-color: #b20953
}
